/* _________________PAGE 1 - STUDIO_________________ */

:root {
  --page-background: #ffffff;
  --menu-list: #2e2f42;
  --btn-filters: #f4f4fd;
  --paragraph-filters: #434455;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: var(--page-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* _____Navigation links_____ */
.header {
}
.header-navigation {
}

.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-list {
}

.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--menu-list);
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus {
  color: #404bbf;
}

/* _____Navigation contacts_____ */
.header-address {
  font-style: normal;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-filters);
}

.header-address-link:hover {
  color: #404bbf;
}

.header-address-link:focus {
  color: #404bbf;
}

.main-subtitles {
}

/* _____Section 1 hero_____ */
.hero {
  background: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/* _____Section 2 feature_____ */
.feature {
}

.hidden-header {
}

.feature-list {
}

.feature-tytle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* _____Section 3 products_____ */
.products {
}

.products-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.products-list {
}

.team {
  background: #f4f4fd;
}

/* _____Section 4 team_____ */
.team-tytle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
}

.team-info {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-job {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/* _____footer_____ */
.footer {
  background: #2e2f42;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-studio-white {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* _________________PAGE 2 - PORTFOLIO_________________ */
/* _____Navigation links (page 1)_____ */
/* _____Navigation contacts (page 1)_____ */
/* _____filters_____ */
.filters {
}
.filters-buttons-list {
}

.filters-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: var(--btn-filters);
}

.filters-button:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.filters-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* _____rows project cards_____ */
.cards {
}

.card {
  background: #ffffff;
  border: 1px solid #e7e9fc;
}

.card-tytle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--menu-list);
}

.card-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-filters);
}
/* _____footer (page 1)_____ */
